@model Appointment

<h1>
    Appointment details:
</h1>
<div class="card border-primary shadow">
    <div class="card-header   pt-3">
        <div class="container">
            <h3 class="ps-2">@Model.Service.Company.Name</h3>
            <hr />
            <div class="row">
                <div class="col-6 ps-4">
                  
                    <span class="fw-bold">Service:</span>
                    <p>@Model.Service.Name</p>
                    <p>
                        <span class="fw-bold m-0 p-0">Description:</span>
                        <span >@Html.Raw(Model.Service.Description)</span>
                    </p>
                </div>
                <div class="col-3">
                    <p class="fw-bold pb-0 m-0">Address:</p>
                    Address: @Model.Service.Company.Address <br />
                    Zip-code: @Model.Service.Company.Zip <br />
                    City: @Model.Service.Company.City
                    
                </div>
                <div class="col-3 ">
                    
                    <p class="m-0 fw-bold text-dark">Date:</p>
                    Date: @Model.Date <br />
                    Time: @Model.Time - @Model.Time.AddMinutes((int)Model.Service.DurationMinutes.TotalMinutes)
                    <p class="m-0 pt-3 fw-bold text-dark">Price: </p>
                    @Model.Service.Price.ToString("C")
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer text-end">
        <div class="btn btn-outline-success" style="pointer-events: none;">
            @Model.Status
        </div>
        <div class="btn btn-outline-danger ">
            Cancel
        </div>
    </div>
</div>
