@model List<Service>

<div class="card border-primary ">
    <div class="card-header shadow  bg-primary pt-2">

        <h3 class="text-white text-center ">@Model.First().Company.Name</h3>

        <h5 class="text-white text-center">Available services:</h5>
    </div>


    <div class="container">
        <div class="row m-3">
            <div class="col-6">
                <p class="fw-bold m-0 display-6">About us:</p>
            </div>
            <div class="col-6 text-end ">
                <a href="#reviews" class="btn btn-outline-primary text-end">
                    Reviews <i class="bi bi-award"></i>
                </a>
            </div>
        </div>

        <div class="row col-12 mx-3">
            @Html.Raw(Model[0].Company.Description)
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <h3>
                    Address
                </h3>
                <ul class="list-unstyled text-center p-0">
                    <li class="p-0">
                        @Model.First().Company.Address,
                    </li>
                    <li>
                        @Model.First().Company.City, @Model.First().Company.Zip
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h3 class="text-center">
                    Contact
                </h3>
                <ul class="list-unstyled text-center p-0">
                    <li class="p-0">
                        @Model.First().Company.Phone,
                    </li>
                    <li>
                        @Model.First().Company.Email
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <hr class="m-0 pb-3" />
    <div class="card-body p-3 border-primary overflow-y-scroll" style="height: 60vh">
        @foreach (var item in Model)
        {
            <div class="card mb-3 border-primary ">
                <div class="card-header shadow border-primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h3>@item.Name</h3>
                            </div>
                            <div class="col-6  text-end">
                                <a asp-area="Customer" asp-controller="Appointment" asp-action="Index" asp-route-ServiceId="@item.Id" class="btn btn-info text-end">
                                    Book <i class="bi bi-bookmark"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <p class="m-0 text-dark opacity-75  mb-0">
                                    @Html.Raw(item.Description)
                                </p>
                            </div>

                            <p class="m-0 col-3 text-dark opacity-75  mb-0 fw-bold">
                                Duration:
                                <span class="">

                                    @item.DurationMinutes.TotalMinutes minutes
                                </span>
                            </p>
                            <p class="m-0 col-3 text-dark opacity-75  mb-0 fw-bold text-center">
                                Price
                                <span class="text-center">
                                    @item.Price.ToString("C")
                                    @if (item.IsPrepaymentRequired)
                                    {
                                        <span class="badge bg-warning text-dark text-center">Prepayment required</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success text-center">No prepayment required</span>
                                    }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="accordion" id="reviews">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="m-2 text-white">Reviews</h4>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div>
                        <div class="card">
                            <div class="card-header border border-primary shadow">
                                <div class="container ">
                                    <div class="row">
                                        <p class="col-6">Reviews were added by users who had a meeting with the service provider. The user is able to add reviews only after the service has been provided.</p>
                                        <p class="col-3 text-center"><strong class="fw-bold">Overall rating: </strong> @ViewBag.Rating </p>
                                        <p class="col-3 text-center"><strong class="fw-bold">Basing on: </strong>@ViewBag.Quantity reviews</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border  border-primary shadow">
                                <div id="dataContainer"></div>
                            </div>
                        </div>
                        <div id="demo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#exampleModalLong').modal('handleUpdate'); 
        });
    </script>

    <script>
        $(document).ready(function() {
                 function getCompanyId() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('companyId'); 
        }
        const companyId= getCompanyId();
            $('#demo').pagination({
                dataSource: function(done) {
                    $.ajax({
                        type: `GET`,
                        url: `/Customer/review/GetCompanyReviews?companyId=${companyId}`,
                        success: function(response) {
                            // Assuming response.data is the array you're interested in
                            done(response.data);
                        }
                    });
                },
                pageSize: 5,
                callback: function(data, pagination) {
                            let html = data.map(function(item) {
                            let cardHtml = `
                                <div class="card mb-2 border border-primary shadow">
                                    <div class="card-header border ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                            <h4>${item.serviceName}</h5>
                                            </div>
                                            <div class="col-4 text-center">
                                            <p>Created at: <time>${new Date(item.createdAt).toLocaleDateString('pl-PL')}</time></p>
                                            </div>
                                            <div class="col-4 text-end">
                                             <p>Rating: ${item.rating}</p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="card-body border ">
                                        <p>${item.content}</p>
                                    </div>
                                </div>
                            `;
                            return cardHtml;
                        }).join('');
                        $('#dataContainer').html(html);
                }
            });
        });
    </script>
}

